body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
}

.schedule-list {
  list-style-type: none;
}

section#control {
  margin-top: 20px;
}

#noise {
  border: 1px solid white;
}
/*disable copy and paste*/
* {
  -webkit-user-select: none;
}

button, button:hover, button:active, button:visited {
  color: white;
  background-color: black;
  border: 1px solid white;
}

button:active{
    -webkit-transform:scale(0.8); 
    -moz-transform:scale(0.8); 
    -ms-transform:scale(0.8); 
    -o-transform:scale(0.8); 
    transform:scale(0.8); 
}