body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
}

.schedule-list {
  list-style-type: none;
}

section#control {
  margin-top: 20px;
}

#noise {
  border: 1px solid white;
}
/*disable copy and paste*/
* {
  -webkit-user-select: none;
}

button, button:visited {
  color: white;
  background-color: black;
  border: 1px solid white;
}

button:hover {
  color: black;
  background-color: white;
}